doctype html

html
  head
    meta(charset='utf-8')
    title Keygen Radio
    link(rel='stylesheet', href='/s/css.css')
  body
    if production
      script(src='/s/js.js')
    else
      script(src='/s/deps.js')
      script(src='/s/client.js')

    h1 Keygen Radio

    .song-name

    footer
      p Created by <a href='http://nechifor.net'>Paul Nechifor</a>.
      p
        a(href='https://github.com/paul-nechifor/keygen-radio').
          Fork on GitHub.
