doctype html

html
  head
    meta(charset='utf-8')
    title Keygen Radio
    link(rel='stylesheet', href='css.css')
  body
    .top-background
      h1
        a(href='http://keygenradio.com') Keygen Radio

    .bottom-background
      footer
        p Created by <a href='http://nechifor.net'>Paul Nechifor</a>.
        p
          a(href='https://github.com/paul-nechifor/keygen-radio').
            Fork on GitHub.

    .player
      .song-name

      .controls
        .pause Pause
        .next Next

    script(src='js.js')
