doctype html

html
  head
    meta(charset='utf-8')
    title Keygen Radio
  body
    if production
      script(src='s/js.js')
    else
      script(src='s/deps.js')
      script(src='s/client.js')

    h1 Keygen Radio

    h3

    p Created by <a href='http://nechifor.net'>Paul Nechifor</a>
